@charset "UTF-8";

/*Em HTML é id = em CSS é # 
  Em HTML é class = em CSS é .
*/

body {
    background-color: rgb(130, 216, 216);
    /*Cor de fundo*/
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(18, 93, 28);
    /*Cor do título*/
}

h1#principal {
    text-align: center;
    background-color: gray;
}


h2 {
    color: rgb(27, 129, 129);
    /*Cor do subtítulo*/
}

.basico {
    color: rgb(15, 79, 79);
}

.intermediari {
    color: rgb(78, 168, 23);
}

.avancado {
    color: rgb(129, 27, 121);
}